 #personal {
     background-color: rgb(96, 219, 219);
     width: 100%;
     height: 33%;
     float: right;
 }

 #bank {
     background-color: rgb(96, 219, 219);
     width: 100%;
     height: 33%;
     float: left;
 }

 #laptopStore {
     background-color: rgb(96, 219, 219);
     width: 100%;
     height: 33%;
     float: left;
 }

 #work {
     border-radius: 6px;
     background-color: rgb(166, 166, 201);
     font-size: large;

 }

 #bankBtn {
     border-radius: 6px;
     background-color: rgb(166, 166, 201);
     font-size: large;
     float: right;
     margin-right: 20%;
 }

 #getLoan {
     border-radius: 6px;
     background-color: rgb(166, 166, 201);
     font-size: large;
     float: right;
     margin-right: 20%;
 }

 #repay {
     border-radius: 6px;
     background-color: rgb(96, 219, 219);
     font-size: large;
     float: right;
 }

 #loanBtn {
     border-radius: 6px;
     background-color: rgb(166, 166, 201);
     font-size: large;
     float: right;
     display: none;
 }

 #loanBalance {
     border-radius: 6px;
     background-color: rgb(96, 219, 219);
     font-size: large;
     float: right;
     display: none;
 }

 #img {
     width: 200px;
     height: 200px;
 }

 #buyNow {
     border-radius: 6px;
     background-color: rgb(166, 166, 201);
     font-size: large;
     float: right;
     margin-right: 55%;
 }

 #store-name {
     font-size: 72px;
     background: -webkit-linear-gradient(rgb(247, 60, 3), rgb(8, 8, 8));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background: -webkit-gradient(rgb(209, 8, 8), rgb(219, 10, 174));
     font-size: 72px;
     margin-left: 20%;
 }
 #not-great{
     margin-left: 25%;
     border-radius: 25%;

 }
 #img{
     float: inline-start;
    
 }
 #info-section{

 }
 